<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ member.avatar }}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{member.knownAs}}</h5>
      <h6 class="sub-title mb-2 text-muted">{{ member.city}} - {{member.age}} - {{member.gender}}</h6>
      <p class="card-text">{{member.introduction}}</p>
      <a href="/members/{{member.username}}" class="btn btn-primary">More Info</a>
      <a href="#" class="btn btn-danger" style="margin-left: 85px;">Follow</a>
    </div>
</div>